* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    background-color: white;
}

#horizontal-bar {
    width: 100vw;
    height: 15px;
    background-image: linear-gradient(rgb(148, 148, 148), white, rgb(191, 191, 191));
}

#toolbar {
    width: 100vw;
    height: 12vh;
    background-color: rgb(24, 179, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 35px;
    border: none;
}

.btn:hover {
    outline: 1px solid black;
}

#pen-width-label {
    font-size: 35px;
    color: white;
}

#color-picker {
    border: 10px solid white;
}
